---
layout: default
title: Portfolio
identifier: portfolio
menus: 
  principal:
    title: Portfolio
    weight: 2
---

{% include portfolio-filters.html %}

<section class="container portfolio-gallery">

  <div class="row equal-height portfolio-deck justify-content-center">

      {% assign sorted = site.portfolio | sort: 'date' %}
      {% assign projects = sorted | reverse %}
      {% for portfolio in projects %}
        <div class="mix {{ portfolio.categorie }} col-xl-4 col-md-8">
            <div class="card">
              <div class="img-wrapper">
                <img class="card-img-top" src="{{ site.cloudinary_url }}{{ portfolio.image }}" alt="Card image cap">
                <div class="view-link">
                  <a href="{{ portfolio.url }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-body">
                <h3 class="card-title">{{ portfolio.title }}</h3>
                <p class="card-text">{{ portfolio.categorie | capitalize }}</p>
              </div>
            </div>
          </div>
      {% endfor %}

  </div>

</section>