
<!doctype html>
<html class="no-js" lang="fr_CA">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		{% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,500i" rel="stylesheet">

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/syntax.css" >
		<link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="spinner">
	        <div class="sk-folding-cube">
			  <div class="sk-cube1 sk-cube"></div>
			  <div class="sk-cube2 sk-cube"></div>
			  <div class="sk-cube4 sk-cube"></div>
			  <div class="sk-cube3 sk-cube"></div>
			</div>
		</div>

        <div id="header" class="container">

        	<nav class="navbar navbar-light navbar-expand-lg">
			  <a class="navbar-brand" href="/">
			  	<img src="/assets/img/logo.png" width="230" alt="">
			  </a>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
			    <ul class="navbar-nav principal-nav">
				{% for item in site.menus.principal %}
			    	<li class="nav-item">
			    		<a href="{{ item.url }}" {% if item.url == page.url or page.identifier == item.identifier %} class="nav-link active" {% else %} class="nav-link" {% endif %}>{{ item.title }}</a>
			    	</li>
				{% endfor %}
			    </ul>
		  
			    <ul class="nav navbar-nav flex-row">
			    	<li class="nav-item"><a class="nav-link" href=""><i class="fas fa-search"></i></a></li>
			    	<li class="nav-item"><a class="nav-link" href=""><i class="fab fa-facebook-f"></i></a></li>
		            <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-twitter"></i></a></li>
		            <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-instagram"></i></a></li>
		        </ul>
			  </div>
			</nav>

		</div>