

<div class="widget recent-articles">
    <h3>Articles recents</h3>

    {% for post in site.posts limit:3 %}       

    <div class="media">
      <a href="{{ BASE_PATH }}{{ post.url }}">
      {% if post.image %}
        <img class="mr-3 align-self-center" src="{{ post.image }}" alt="Generic placeholder image">
      {% endif %}
      <div class="media-body">
        <h5 class="mt-0">{{ post.title }}</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      </a>
    </div>

    {% endfor %}

</div>

<div class="widget">
    <h3>Categories</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">Lorem ispum<span class="badge badge-dark">14</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Lorem ispum<span class="badge badge-dark">20</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Lorem ispum<span class="badge badge-dark">6</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Lorem ispum<span class="badge badge-dark">11</span></li>
    </ul>
</div>

<div class="widget cloud-tag">
    <h3>Tags</h3>
    <a href="#">Lorem</a>
    <a href="#">Lorem Ipsum</a>
    <a href="#">Dolor Sit</a>
    <a href="#">Random Tag</a>
    <a href="#">Cloud Tag</a>
    <a href="#">Portrait</a>
</div>