

<div class="widget recent-articles">
    <h3>Articles récents</h3>

    {% for post in site.posts limit:3 %}       

    <div class="media">
      {% if post.image %}
        <img class="mr-3" src="{{ post.image }}" alt="" width="90px" height="90px">
      {% endif %}
      <div class="media-body">
        <a href="{{ BASE_PATH }}{{ post.url }}">
            <h5 class="mt-0">{{ post.title }}</h5>
        </a>
        <!-- {{ post.excerpt | strip_html | strip_newlines | truncate: 40 }} -->
      </div>
    </div>

    {% if forloop.last == false %}
    <hr>
    {% endif %}

    {% endfor %}

</div>


<div class="widget">
    <h3>Catégories</h3>
    <ul class="list-group list-group-flush">
        {% for category in site.categories %}        
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/blogue/categorie/{{ category | first | slugify: 'latin' }}">{{ category | first | capitalize }}</a><span class="badge badge-dark">{{ category | last | size }}</span></li>
        {% endfor %}
    </ul>
</div>

<div class="widget">
    <h3>Catégories</h3>
    <ul class="list-group list-group-flush">
    {% for post in site.categories %} 
        {% for category in site.data.blog-categories %}      
            <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/blogue/categorie/{{ category.slug }}">{{ category.name }}</a><span class="badge badge-dark">{{ post | last | size }}</span></li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>

{% assign tags = site.tags | sort %}
<div class="widget cloud-tag">
    <h3>Tags</h3>
        {% for tag in tags %}
        <a href="/blogue/tags/{{ tag | first | slugify: 'latin' }}/" style="font-size: {{ tag | last | size | times: 4 | plus: 90  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
        </a>
        {% endfor %}
</div>