
{% include header.html %}

{% include subheader.html %}

<section class="presentation">

<div class="container">
    <div class="row">
        <div class="col-lg-5 order-lg-2">
            <img class="img-fluid float-right" src="{{ site.cloudinary_url }}{{ page.image }}">
        </div>

        <div class="col-lg-7 order-lg-1">

            {{ content }}

        </div>
    </div>
</div>
</section>


<div class="articles">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-8">
                <h2 class="text-center">Associations</h2>
                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor.</p>
            </div>
        </div>

        {% for association in site.data.curriculum.associations %}
        
        {% cycle 'add row' : '<div class="row equal-height">', '' %}

            <div class="col-lg-5">
                <div class="cv-el">
                    <img src="{{ association.logo }}">
                    <h4>{{ association.name }}</h4>
                    <p class="lead">Membre depuis
                    {% assign m = association.date | date: "%-m" %}
                    {% assign day = association.date | date: "%-d" %}
                    {% if day == "1" %}
                        {{ day }}<sup>er</sup>
                    {% else %} {{ day }}
                    {% endif %}
                    {% case m %}
                        {% when '1' %}Janvier
                        {% when '2' %}Février
                        {% when '3' %}Mars
                        {% when '4' %}Avril
                        {% when '5' %}Mai
                        {% when '6' %}Juin
                        {% when '7' %}Juillet
                        {% when '8' %}Août
                        {% when '9' %}Septembre
                        {% when '10' %}Octobre
                        {% when '11' %}Novembre
                        {% when '12' %}Décembre
                    {% endcase %}
                    {{ association.date | date: "%Y" }}</p>
                </div>
            </div>

        {% cycle 'end row' : '', '</div>' %}

        {% endfor %}
    
        {% cycle 'end row' : '', '</div>' %}

    </div>
</div>

<div id="formations">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h2 class="text-center">Formations</h2>
                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor.</p>
            </div>
        </div>

        {% for formation in site.data.curriculum.formations %}

        {% cycle 'add row 2' : '<div class="row equal-height">', '', '' %}

            <div class="col-lg-4">
                <div class="cv-el-dark">
                    <h4>{{ formation.name }}</h4>
                    <h5>{{ formation.teacher }}</h5>
                    <p class="lead">{{ formation.date_from }} {% if formation.date_till != null %} - {% endif %} {{ formation.date_till }}</p>
                </div>
            </div>

        {% cycle 'end row 2' : '', '', '</div>' %}

        {% endfor %}

        <!-- {% cycle 'end row 2' : '', '', </div>' %} -->

    </div>

</div>

</div>

<div class="articles">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-8">
                <h2 class="text-center">Évènements</h2>
                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor.</p>
            </div>
        </div>

        {% for event in site.data.curriculum.evenements %}
        
        {% cycle 'add row 3' : '<div class="row equal-height">', '', '' %}

            <div class="col">
                <div class="cv-el">
                    <h4>{{ event.name }}</h4>
                    <h5>{{ event.place }}</h5>
                    <p class="lead">
                    {% assign m = event.date_from | date: "%-m" %}
                    {% case m %}
                        {% when '1' %}Janvier
                        {% when '2' %}Février
                        {% when '3' %}Mars
                        {% when '4' %}Avril
                        {% when '5' %}Mai
                        {% when '6' %}Juin
                        {% when '7' %}Juillet
                        {% when '8' %}Août
                        {% when '9' %}Septembre
                        {% when '10' %}Octobre
                        {% when '11' %}Novembre
                        {% when '12' %}Décembre
                    {% endcase %}
                    {{ event.date_from | date: "%Y" }} 
                    {% if event.date_till != null %}
                    - 
                    {% endif %}
                    {% assign m2 = event.date_till | date: "%-m" %}
                    {% case m2 %}
                        {% when '1' %}Janvier
                        {% when '2' %}Février
                        {% when '3' %}Mars
                        {% when '4' %}Avril
                        {% when '5' %}Mai
                        {% when '6' %}Juin
                        {% when '7' %}Juillet
                        {% when '8' %}Août
                        {% when '9' %}Septembre
                        {% when '10' %}Octobre
                        {% when '11' %}Novembre
                        {% when '12' %}Décembre
                    {% endcase %}
                    {{ event.date_till | date: "%Y"  }}
                    </p>
                </div>
            </div>

        {% cycle 'end row 3' : '', '', '</div>' %}

        {% endfor %}
    
        <!-- {% cycle 'end row' : '', '</div>' %} -->

    </div>
</div>

{% include footer.html %}