---
layout: default
---

<section id="blog" class="articles">
    <div class="container" >

        {% assign rows = paginator.total_posts | divided_by: 2.0 | ceil %}
        {% for i in (1..rows) %}
            {% assign offset = forloop.index0 | times: 2 %}
        
        <div class="row equal-height">

            {% for post in paginator.posts limit:2 offset:offset %}

            <div class="col-10 col-lg-6">
                <div class="card">
                    <div class="img-wrapper">
                        {% if post.image %}
                            <img class="card-img-top" src="{{ post.image }}">
                        {% endif %}
                        <div class="view-link">
                              <a href="{{ post.url }}"><i class="fa fa-link" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> {{ post.title }}</h5>
                        <p class="card-text">{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}</p>
                        <a href=" {{ post.url }}" class="card-link">Lire plus</a>
                  </div>
                  <div class="card-footer">
                      <div class="float-left"><span class="icon"><i class="far fa-calendar" aria-hidden="true"></i></span>  {{ post.date | date: "%-d %B %Y" }}</div> 
                      <div class="float-right"><span class="icon"><i class="far fa-comments" aria-hidden="true"></i></span><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{post.id}}">0 Comments</a></div>
                  </div>
                </div>
            </div>

            {% endfor %}

        </div>

        {% endfor %}

    </div>

</section>


<nav aria-label="Portfolio Page Navigation">
    {% if paginator.total_pages > 1 %}
    <ul class="pagination justify-content-center">
        {% if paginator.previous_page %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1">Precedent</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1">Precedent</a>
        </li>
        {% endif %}
        

        {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}

        <li {% if page.url == trail.path %}class="active page-item"{% endif %}  class="page-item">
            <a class="page-link" href="{{ trail.path | prepend: site.baseurl | replace: 'index.html', '' }}">{{ trail.num }}</a>
        </li>

            {% endfor %}
        {% endif %}

        {% if paginator.next_page %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.next_page_path }}">Suivant</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="{{ paginator.next_page_path }}">Suivant</a>
        </li>
        {% endif %}

    </ul>
    {% endif %}
</nav>