---
layout: default
---

<section id="blog" class="articles">
  <div class="container" >

    {% for post in site.categories[page.category] %}

    {% cycle 'add row' : '<div class="row equal-height">', '' %}

    <div class="col-10 col-lg-6">
        <div class="card">
            <div class="img-wrapper">
                    <img class="card-img-top"
                    {% if post.image != '' %}
                        src="{{ post.image }}">
                    {% else %}
                        src="/assets/img/placeholder.png">
                    {% endif %}
                <div class="view-link">
                      <a href="{{ post.url }}"><i class="fa fa-link" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{ post.title }}</h5>
                <p class="card-text">{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}</p>
                <a href=" {{ post.url }}" class="card-link">Lire plus</a>
          </div>
          <div class="card-footer">
              <div class="float-left"><span class="icon"><i class="far fa-calendar" aria-hidden="true"></i></span>  {{ post.date | date: "%-d %B %Y" }}</div> 
              <div class="float-right"><span class="icon"><i class="far fa-comments" aria-hidden="true"></i></span><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{post.id}}">0 Comments</a></div>
          </div>
        </div>
    </div>

    {% cycle 'end row' : '', '</div>' %}

    {% endfor %}

    {% cycle 'end row' : '', '</div>' %}

    
  </div>
</section>