---
layout: default
---

<div class="blog-content" >
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-8">

                <div class="card">
                    {% if page.image %}
                    <img class="card-img-top" src="{{ page.image }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title display-5">{{ page.title }}</h5>
							    <div class="article-date"><span class="icon"><i class="far fa-calendar" aria-hidden="true"></i></span>  {{ page.date | date: "%-d %B %Y" }}</div>
                                <div>{{content}}</div>

                                <p>Tags: 
                                {% for tag in page.tags %}
                                    <a href="#" class="card-link">{{ tag }}</a>
                                {% endfor %}
                                </p>
                    </div>						
                </div>
                
            </div>

            <div class="col-lg-3 sidebar">
                
                {% include sidebar.html %}

            </div>

        </div>       

    </div>
</div>

<div class="container comments">
    <div class="row">
        <div class="col-lg-8">

            {% if page.comments %}

            <h3>Commentaires</h3>

            {% include comments.html %}

            {% endif %}

        </div>
    </div>
</div>